//-----mode dev------
$dev: true;
// $dev: false;

//------------------------cuadricula--------------------
$border-color: red;
$border-width: 2px;

//----------------------grid-breakpoints-----------------------
// Extra small screen / phone
$xs: 0;
 // Small screen / phone
$sm: 576px;
// Medium screen / tablet
$md: 768px;
// Large screen / desktop
$lg: 992px;
// Extra large screen / wide desktop
$xl: 1200px;

//---------------grid-config------------------------------------
$grid-columns: 12;
$grid-column-gap: 3px;
$grid-row-gap: 3px;
