@import './variables';

body{
    margin: 0;
}

.container {
    padding: 0;
    display: grid;
    grid-template-columns: repeat($grid-columns, 1fr);
    grid-column-gap: $grid-column-gap;
    height: 100vh;

    .col{
        @if $dev {
            border: $border-width solid $border-color;
        }
        // grid-column: span 1;
    }

    @media screen and (min-width: $xs ){
        @if $dev {
            background-color: beige;
        }
        
        
    }

    @media screen and (min-width: $sm ){
        @if $dev {
            background-color: blue;
        }
        
    }

    @media screen and (min-width: $md ){
        @if $dev {
            background-color: rgb(81, 168, 73);
        }
        
    }
    @media screen and (min-width: $lg ){
        @if $dev{
            background-color: rgb(138, 78, 133);
        }
        
    }
    @media screen and (min-width: $xl ){
        @if $dev{
            background-color: pink;
        }
        
    }
    
}

